.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.joketypes {
    background-color: grey;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    margin-bottom: 100px;
}

.joketypes ul li {
    list-style: none;
    cursor: pointer;
    width: 70px;
    border-radius: 5px;
}

.joke-sublist {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    margin: 0;
    padding: 0;
}

.joke-category {
    padding: 10px;
    background-color: white;
    margin: 8px;
}

#joke {
    background-color: rgb(40, 40, 243);
    max-width: 700px;
    margin: 10px auto;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
}

.blueBackground {
    background-color: blue;
    color: white;
}

.whiteBackground {
    background-color: white;
}

#another-one {
    margin: 20px;
    color: rgb(31, 176, 233);
    cursor: pointer;
}

@media only screen and (max-width:500px) {
    .joketypes ul li {
        padding: 5px;
        width: 50px;
        font-size: 12px;
    }
}